<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>template dogsh</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/all.min.css" />
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="path_to_css_files/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&#038;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>


<!-- the start header-->
    <header>
        <div class="container">
            <a href="#" class='logo' ><img style="padding: 5px;" src="./img/OIP.jpeg" width="100"></a>

            <nav>
                <i class="fas fa-bars toogle"></i>
                <ul>
                    <li><a class="active" href="">home</a></li>
                    <li><a href="#service">service</a></li>
                    <li><a href="#prtofile">prtofile</a></li>
                    <li><a href="#about">about</a></li>
                    <li><a href="#pricing">pricing</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
                <div class="form">
                    <i class="fas fa-search"></i>

                </div>
            </nav>
        </div>
    </header>
<!-- the end header-->

<!-- the start land-->
        <div class="land">
            <div class="text">
                <div class="content">
                <h1>Hello World!<br>
                    We Are Kasper We Make Art</h1>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt
                     nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
             </div>
            </div>
            <i class='fas fa-angle-double-left left' style='font-size:36px'></i>
            <i class='fas fa-angle-double-right right' style='font-size:36px'></i>

                <ul class="bullts">
                    <li></li>
                    <li></li>
                    <li> </li>
                    
 
                </ul>
            </div>
<!-- the end land-->

   <!-- the start service-->

            <div class="services" id="service" >
                    <div class="container">
                <div class="main">
                        <h1>services</h1>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, portti
                            tor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                 </div>
                 <div class="service">
                 <!--the firset service -->
                        <div class="serv">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                            <div class="text">
                    <h2>Vorem amet intuitive</h2>
                    <p>Curabitur arcu erat, accumsan id imperdiet 
                      et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                        </div>
                         <div class="serv">
                            <i class="fa fa-ambulance" aria-hidden="true"></i>

                            <div class="text">
                                <h2>Vorem amet intuitive</h2>
                                <p>Curabitur arcu erat, accumsan id imperdiet 
                                  et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                                </div>
                         </div>
                        <div class="serv">
                            <i class="fa fa-blind" aria-hidden="true"></i>
                            <div class="text">
                                <h2>Vorem amet intuitive</h2>
                                <p>Curabitur arcu erat, accumsan id imperdiet 
                                  et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                                </div>
                        </div>
                        <div class="serv">
                            <i class='fab fa-android'></i>
                             <div class="text">
                                <h2>Vorem amet intuitive</h2>
                             <p>Curabitur arcu erat, accumsan id imperdiet 
                              et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                             </div>
                        </div>
                </div>
                </div>
            </div>
   <!-- the end service-->

  <!-- Start Design -->
             <div class="design">
                <div class="image">
                    <img src="./img/OIP (1).jpeg" alt="">
                </div>
                <div class="text">
                    <h2>
                        Our Design Comes With...
                    </h2>
            <ul>
                    <li>media design </li>
                    <li>Responsive Design</li>
                    <li>Modern And Clean Design</li>
                    <li>Clean Code</li>
                    <li>Browser Friendly</li>
                    
            </ul> 
          
                </div>
             </div>
  <!-- end Design -->
  <!-- Start proto file -->
        <div class="protofile" id="prtofile">
                <div class="container">
          <div class="main">
        <h1>PORTFOLIO
        </h1>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>

            <ul>
                <li class="active">all</li>
                <li>App</li>
                <li>Photo</li>
                <li>Web</li>
                <li>Print</li>
            </ul>
        </div>

           <div class="imgs-container">
            <div class="box">
                <img src="./img/software-developer-programming-code-abstract-260nw-577183882.webp" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
               </div>

            <div class="box"><img src="./img/OIF.jpeg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            
            <div class="box"><img src="./img/OIF.jpeg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>

            <div class="box"><img src="./img/OIF.jpeg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>

            <div class="box"><img src="./img/OIF.jpeg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>

            <div class="box">
                <img src="./img/OIF.jpeg" alt="">
            <div class="caption">
                <h4>Awesome Image</h4>
                <p>Photography</p>
                </div>
           </div>
           
           <div class="box">
            <img src="./img/OIF.jpeg" alt="">
        <div class="caption">
            <h4>Awesome Image</h4>
            <p>Photography</p>
            </div>
         </div>
          <div class="box">
        <img src="./img/OIF.jpeg" alt="">

       <div class="caption">
        <h4>Awesome Image</h4>
        <p>Photography</p>
        </div>
          </div>
          
              </div>


   <a href="#" class="more">more</a>

        </div>
  <!-- end protofile -->

<!--start video-->

  <div class="video" >
    <img src="./img/Orange-colored-cat-yawns-displaying-teeth.webp" alt="">
    <div class="text">
      <h2>Super Awesome Video Here</h2>
      <p>Its All You Need</p>
      <button>See More</button>
    </div>
  </div>
<!--end video-->


<!--start about-->
<div class="about"id="about">
    <div class="container">
        <div class="main">
            <h2>ABOUT US</h2>
            <p>
                Curabitur arcu erat, accumsan id imperdiet et, portti
                tor at sem. Mauris blandit aliquet elit, eget tincidunt.
            </p>
        </div>
        <img src="./img/software-developer-programming-code-abstract-260nw-577183882.webp" alt="">
    </div>
</div>

<!--end about-->



<!--start about-->
<div class="static" id="">

    <div class="container">
        
        <div class="booox">

            <i class='fas fa-chess-queen'></i>
            <div class="text">1.256 </div>
            <p>Coffee Drinks</p>
        </div>

        <div class="booox">
            <i class='fas fa-bullhorn'></i>
            <div class="text">1.25</div>
            <p>Coffee Drinks</p>

       </div> 
               
               <div class="booox">
            <i class='fab fa-algolia'></i>
            <div class="text">5.6 </div>
            <p>Coffee Drinks</p>
        </div>
        
        <div class="booox">
            <i class='fas fa-wifi'></i>
            <div class="text">1.236</div>
            <p>Coffee Drinks</p>
        </div>
    </div>
</div>
<!--end about-->

<!--start our-->

<div class="our">
    <div class="container">

        <!-- start test-->
        <div class="test">
            <h3>TESTIMONIALS</h3>
            <p>Curabitur arcu erat, accumsan id imperdiet et,
             porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
            </p>
    
       <div class="content">
            <img src="./img/OIF.jpeg" alt="">
            <div class="text">
            <h3>Curabitur arcu erat, accumsan id imperdiet et
                , porttitor at sem. Mauris blandit aliquet elit, eget tincidunt</h3>
                <p>eldoghs.ced</p>
          </div>
       </div>


        <div class="content">
            <img src="./img/OIF.jpeg" alt="">
            <div class="text">
            <h3>Curabitur arcu erat, accumsan id imperdiet et
                , porttitor at sem. Mauris blandit aliquet elit, eget tincidunt</h3>
                <p>eldogsh, CEO</p>
        </div>
        </div>

        <ul class="bullts" >
            <li></li>
            <li></li>
            <li></li>
        </ul>
        </div>
        <!--end test-->

        <!--start skils-->
        <div class="skils">

                <h3>SKILLS</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et,
                 porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.   </p>
            
                 <div class="pre">
                    <h4>ADOBE</h4>
                    <div class="prog">
                        <span style="width: 90%;" data-progress="90%" ></span>
                    </div>
                 </div>

                 <div class="pre">
                    <h4>PHP</h4>
                    <div class="prog">
                        <span style="width: 85%;" data-progress="85%" ></span>
                    </div>
                 </div>

                 <div class="pre">
                    <h4>html &empty; css</h4>
                    <div class="prog">
                        <span style="width: 70%;" data-progress="70%" ></span>
                    </div>
                 </div>

                 <div class="pre">
                    <h4>js</h4>
                    <div class="prog">
                        <span style="width: 83%;" data-progress="83%" ></span>
                    </div>
                 </div>
             
             



    
        </div>
        <!--end skils-->

    </div>
</div>
<!--end our-->


<!--start pricing-->
<div class="pricing" id="pricing">
    <div class="container">
        <div class="main">
            <h1>PRICING</h1>
            <p>Curabitur arcu erat, accumsan id imperdiet et, portti
                tor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
         </div>
         <div class="plans">
            <div class="plan">
                <div class="header">
                    <h2>basic</h2>
                    <span class="num">19</span>
                </div>

                <ul>
                    <li>feature no1</li>
                    <li>extra feature</li>
                    <li>extra feature no2</li>
                    <li>feature</li>
                    <li>eldogsh</li>
                </ul>
                <a href="#">buy now</a>

            </div>
            <div class="plan">
                <div class="header">
                    <h2>basic</h2>
                    <span class="num">19</span>
                </div>
                <ul>
                    <li>feature no1</li>
                    <li>extra feature</li>
                    <li>extra feature no2</li>
                    <li>feature</li>
                    <li>eldogsh</li>
                </ul>
                <a href="#">buy now</a>

            </div>
            
            <div class="plan">
                <div class="header">
                    <h2>basic</h2>
                    <span class="num">19</span>
                </div>
                <ul>
                    <li>feature no1</li>
                    <li>extra feature</li>
                    <li>extra feature no2</li>
                    <li>feature</li>
                    <li>eldogsh</li>
                </ul>
                <a href="#">buy now</a>

            </div>
            
            <div class="plan">
                <div class="header">
                    <h2>basic</h2>
                    <span class="num">19</span>
                </div>
                <ul>
                    <li>feature no1</li>
                    <li>extra feature</li>
                    <li>extra feature no2</li>
                    <li>feature</li>
                    <li>eldogsh</li>
                </ul>
                <a href="#">buy now</a>

            </div>
         </div>
         <div class="bt">
            <h3>Contact us if you have special request

            </h3>
            <button>contact us </button>
         </div>



    </div>



</div>
<!--end pricing-->


<!--start sub -->
<div class="sub">
    <div class="container">
        <form action="">
        <i class='far fa-paper-plane' style='font-size:24px'></i>
            <input type="email" placeholder="your email">
            <input type="submit" value="submit" class="dss">
        </form>
        <p> Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blan dit aliquet elit, eget tincidunt.

        </p>
    </div>
</div>
<!--end sub-->


<!--start contact -->
<div class="contact" id="contact">
    <div class="container">
        <div class="main">
            <h1>Contact Us
            </h1>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>

        <div class="content">

            <form action="">
                <input class="main-input" type="text" name="name" placeholder="Your Name" />
                <input class="main-input" type="email" name="mail" placeholder="Your Email" />
                <textarea class="main-input" name="message" placeholder="Your Message"></textarea>
                <input type="submit" value="Send Message" />
            </form>


            <div class="info">
                <h2>GET IN TOUCH</h2>
                <span class="ph">+00 123.456.789</span>
                <span class="ph">+00 123.456.789</span>
                <h4>where we are</h4>
                 <address>Awesome Address 17<br>
                    New York, NYC<br>
                    123-4567-890<br>
                    USA</address>


            </div>

        </div>
    </div>
</div>
<!--end contact -->

<!--footer-->
<div class="footer">
    <div class="container">
        <img src="./img/R.jpeg" alt="logo">
        <p>WE ARE SOCIAL</p>

        <div class="icon">
            <i class="material-icons" style="font-size:36px">notifications_active</i>
            <i class='fas fa-comment-dots' style='font-size:36px'></i>
            <i class='fas fa-video' style='font-size:36px'></i>
            <i class='fas fa-business-time' style='font-size:36px'></i>
        </div>

        <p class="coopy">&copy;2024 <span>Kasper</span> all rigth service </p>
    </div>
</div>
<!--end footer-->


</body>
</html>