
.page{
    margin: 0;
}
.mo{
    background-image: url(./drew-coffman-1872.jpg);
    background-size: cover;
    color: white;
}
header{
    background-color: rgb(214, 199, 199);
}

 nav{
    float: right;
    margin: 40px;
}
nav a{
    padding: 20px;
    text-decoration: none;
    font-size: 23px;
    margin-top: 50px;
    color: black;
}
.content .mo .text{
    text-align: center;
    padding: 30px;
    height: 500px;
    margin-top: 200px;
    line-height: 1.2;
    text-transform: capitalize;
}
.content .mo .text span{
    font-size: 28px;

} 
.content .mo .text h1{
    font-size: 60px;
    color: #76c5d3;
} 
.content .mo .text p{
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 22px;
} 
.content .mo .text button{
    padding: 20px;
    background-color: transparent;
    color: #dfdad1;
    font-size: 15px;
    width: 140px;
    font-weight: 900;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 7px;
    transition: 0.5s;
    margin-top: 20px;
}
.content .mo .text .b1{
    background-color: rgb(13, 73, 73);
}
.content .mo .text button:hover{
    background-color: whitesmoke;
    color: black;
    transition: 0.5s;
    cursor: pointer;
    border: 1px;

}

/*info img*/
.info{
    margin-top: 100px;
}
.info .img{
    float: left;
    margin-right: 50px;
    padding: 30px;
}
.info .img img{
height: 550px;
}

/*info tex*/
.info .tex{
    padding-top: 100px;
}
.info .tex p{
    line-height: 1.8;
    font-size: 17px;
}

.info .tex ul{
    list-style: none;
    position: relative;
}
.info .tex ul li{
    margin-top: 10px;
}
.info .tex img{
    width: 50px;
    border: 2px solid rgb(180, 162, 162);
    border-radius: 50%;
}

 .info .tex ul li span{
    position: absolute;
    margin-top: 20px;
    padding-left: 20px;
}
/*start inner*/
.inner{
margin-top: 180px;
background-color: rgb(206, 235, 235);
overflow: hidden;
}
.inner img{
    float: right;
    width: 550px;
    margin: 20px;
    padding: 30px;
}
.inner .text{
    padding: 50px;
}
.inner .text h2{
    font-size: 25px;
    margin-top: 120px;
}
.inner .text p{
    font-size: 20px;
    opacity: 0.7;
    font-weight: normal;
    line-height: 1.6;


}

/*start inner*/


/*start baking*/

.baking{
    margin-top: 100px;
}
.baking .tex{
    text-align: center;
}
.baking .info{
    margin-top: 30px;
    padding: 30px;
}
.baking .info img{
    width: 400px;
}
.baking .info > div{
    width: 33%;
    text-align: center;
    display: inline-block;
    margin-right:2px;
}

/*start contact*/
    .contact{
        background-color: rgb(231, 247, 241);
        margin-top: 30px;
        padding: 50px;

    }
    .contact .in{
        padding: 15px 5px;
    }
    .contact p{
        margin: 20px;
        padding-left: 25px;
        font-size: 18px;
        line-height: 1.5;
    }
    .contact  h2{
        padding-left: 25px;
        opacity: 0.8;
        font-size: 23px;
    }
    .contact iframe{
        float: right;
        margin-right: 10px;
        padding-top: 5  0px;
    }
    .contact .text{
        margin-top: -20px;
    }
    .contact .text h4{
        padding-left: 50px;
    }
    .contact .text ul li{
        list-style: none;
        height: 70px;
    }
    .contact  ul li img{
        width: 40px;
        background-color: rgb(221, 193, 116);
        border-radius: 50%;
        margin-right: 10px;
    }
    .contact ul li span{
        position: absolute;
        padding-top: 10px;
    }

        /*start foot*/

    .foot{
        background-color: rgb(59 54 54);
        color: white;
        overflow: hidden;
        margin-top: 40px;
        padding: 50px;
        display: inline-block;
    }
    .foot > div{
        float: left;
        width: 22%;
    }
    .foot ul{
        list-style: none;
    
    }
    .foot ul li{
        margin: 10px;
        padding-bottom: 10px;
    }
    .foot ul li:not(:last-child){
        border-bottom: 1px solid rgb(125, 143, 106);


    }
    .foot ul li span{
        position: absolute;
        padding-top: 10px;

    }
    .foot ul li img{
     margin-left: -20px;
        width: 40px;
        }
    #p{
        padding-top: 10px;
    }
    .foot .about{
        padding:15px;
        line-height: 1.8;
        padding-top: 20px;
    } 
    .foot h2{
        padding-left: 50px;
    }
    .foot .special{
        padding: 20px;
        padding-top: 30px;
    }

    /*start footer*/
   .footer{
    background-color: black;
    text-align: center;
    padding: 50px;
    margin-top: -10px;
    color: white;

    }
    .footer p{
        padding-top: 20px;
    }
    .footer div{
        display: inline-block;
        padding-top: 20px;
    }
    .footer div img{
        width: 40px;
        background-color: aquamarine;
        border-radius: 50%;
        transition: 0.5s;
    }
    .footer div img:hover{
        background-color: blueviolet;
        cursor: pointer;
        transition: 0.5s;
    }
