.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin: 100px;
}
@media(max-width:767px){
    .container .box{
        margin-left: 100px;
        
        
    }
    
}
.box{
text-align: center;
margin: 30px;
}
.box img{
    background-color: #E1ECF9;
    border-radius: 50%;
    padding: 20px;
    max-width: 100%;
}
.box h2{
    font-family: Almarai;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    
}
.link{
    text-align: center;
    margin-top: -15px;
    margin-bottom: 50px;
}
.link a i{
    width: 20px;
    padding: 10px;

}
.link a{
    color: white;
background-color: #1D6BC6;
padding: 15px 32px 15px 32px;
border-radius: 6px 0px 0px 0px;
font-family: Almarai;
font-size: 16px;
font-weight: 400;
line-height: 27.2px;
text-align: right;



}