*{
    font-family: "Changa", sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
}
body{
    background-color:rgba(12, 43, 43, 0.64);
    color: white;
}

ul{
    list-style: none;
    background-color: black;
    color: white;
    overflow: hidden;
    text-align: center;

}
ul a:hover{
    color: darkkhaki;
    background-color: chocolate;
}
ul a{
    padding: 10px;
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    display: block;

}
 ul li{
    float: right;

}
ul h2{
    padding-left: 100px;
}
.col{
    width: 50%;
    float: left;
    text-align: center;
}
.col img{
border-radius: 50%;


}
@keyframes css {
0%{
    width: 0px;

}
100%{
    width: 300px;
}


}  
@keyframes js {
0%{
    width: 0px;

}
100%{
    width: 310px;
}
}    @keyframes boot {
0%{
    width: 0px;

}
100%{
    width: 190px;
}
}    @keyframes rect {
0%{
    width: 0px;

}
100%{
    width: 280px;
}
}    @keyframes main {
0%{
    width: 0px;

}
100%{
    width: 350px;
}
}
@keyframes lan {
0%{
    color: black;
    opacity: 0.5;
}
100%{
    color: red;
    transform: rotate(50deg);
    opacity: 1;
}

}


.mag img{
width:70px;
padding: 3px;
}

.left{
float: left;
width: 20%;
}
.right{
float: left;
width: 80%;
}
.right li{
list-style: none;
}
.bar{
padding: 10px;
}
.bar::after{
content: "";
display: table;
clear: both;
}

.lan{
height: 27px;
display: block;
background-color:rgb(70, 32, 160);
border-radius: 22px;
width: 450px;
position: relative;
color: white;

}
.lan::after{
position: absolute;
content: '**';
left: 460px;
top: 0px;
animation-name: lan;
animation-duration: 3s;
animation-delay: 0.5s;
animation-fill-mode:forwards;

}
.lan span{
background-color: teal  ;
height: 27px;
display: block;
color: white;
border-radius: 20px;
}
.css{
width: 300px;
animation-name: css;
animation-duration: 2s;
animation-delay: 1s;
}
.js{
width: 310px;
animation-name: js;
animation-duration: 2s;
animation-delay: 1s;

}
.boot{
animation-name: boot;
width: 190px;animation-duration: 2s;
animation-delay: 1s;
}
.main{
animation-name: main;
width: 350px    ;
animation-duration: 2s;
animation-delay: 1s;
}
.react{
animation-name: rect;
width: 280px;animation-duration: 2s;
animation-delay: 1s;
}
@keyframes rote {

0%{
    transform: rotate(0turn);
}100%{
    transform:rotate(1turn) ;
}
}



.tmeline{
position: relative;
max-width: 1200px;
margin: 0 auto;

}
.tmeline::after{
position: absolute;
content: "";
left: 50%;
width: 6px;
top: 0;
bottom: 0;
margin-left: -3px;
background-color: rgb(241, 42, 42);
}
.content{
position: relative;
padding: 28px 38px;
background-color: rgb(83, 23, 223);
color: white;
width: 50%;
border-radius: 6px;
text-align: center;
margin-top: 20px;

}
.content::after{
position: absolute;
content: "";
background-color: brown;
width: 25px;
height: 25px;
left: 585px;
border-radius: 50%;
border: 4px solid rgb(37, 0, 0);
top:13px;
z-index: 1;

}

.container{
position: relative;
width: 100%;
padding: 18px 48px;

}
.container-left::before{
position: absolute;
content: "";
right: 30px;
border: medium solid wheat;
border-width: 10px 0 10px 0;
border-color: transparent transparent transparent white;
height: 0;
top: 22px;
width: 0;
z-index: 1;

}
footer{
margin-top: 15px ;
color: wheat;
display: flex;
padding: 5px;
justify-content:center;
border: none;
outline: none;
transition-duration: 1s;
background-image: linear-gradient(to right,rgb(68, 41, 41), rgb(39, 16, 16), rgb(192, 172, 172), red);
   }
   footer:hover{
    background-color: coral;
    opacity: 0.6;
    cursor: pointer;
    transition-duration: 1s;
   }
@media screen and (max-width:600px) {
.col{
    width: 100%;
}
.content::after{
    left: 100%;
}

}
@media screen and (max-width:800) {
.buld{
    display: block;
    width: 60%;
}

}


