/*primary*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

/*header*/

.row{
    width: 100%;
    position: absolute;
    background-color: rgb(10, 10, 10);
}
@media (max-width:767px){
    .row{
        max-width: 100%;
    }
}
.logo{
    width: 25%;
    float: left;
    padding-left: 25px;
}
.logo a{
    font-size: 30px;
    color: red;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: 900;
    display: block;
}
.nav{
    float: right;
    margin-top: 30px;
    margin-right: 50px;


}
nav ul li{
    float: left;
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
}
.clear{
    clear: both;
}
.i{
    height: 50px;
    font-size: 30px;
    color: white;
    padding: 30px;
    display: none;
}

/*media mobile*/
@media (max-width:767px){
    .i{
        display: block;
        float: right;
    }
}
.i ul{
    line-height: 1.5;
    display: none;
}
.i i:hover ul{
    display: inline;
}
@media (max-width:767px){
    .nav{
        display: none;
    }
    
}


/*section 1*/
.bg{
    position: relative;
    background-image: url("./img/hero\ img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    color: white;
    height:100vh;
    background-position: center center;
}
.bg::before{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    content: '';
    background-color: #00000080;
}
@media (max-width:76px){
    .bg{
        max-width:100% ;
        background-size:contain;
    }
}

.bg .text{
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    line-height: 1.8;
}
.bg .text h1{
    color: red;
    font-size: 50px;
}


/*section 2*/
.row2{
    margin: 0 auto;
    margin: 100px auto; 
    position: relative;

}
.row2 .img{
    float: left;
    padding-left: 170px;
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    border-radius: 30px;

}
.list{
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.57) ;
    height: 0%;
    width: 70%;
    position: absolute;
    transition: 0.5s;
    visibility: hidden;
        
    
}
.list .icon{
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 200px 0 0 0;

}
.list .icon i{
font-size: 30px;
margin-left: 10px;
}
.img:hover .list{
    visibility: visible;
    transition: 0.5s;
    height: 100%;

}
.row2 .img img{
    border-radius: 15px;
}
.row2 .text{
    width: 55%; 
    margin-right: 50px;
    float: right;
}
.row2 .text .title{
    font-size: 25px;
    border-bottom: 1px dotted;
    padding: 20px;
    margin-bottom: 10px;
    line-height: 1.8;
}
.row2 .text .title::first-letter{
    color: red;
}
.row2 .info{
    padding: 20px;
    font-size: 18px;
}
.row2 .info .cv{
    float: left;
}
.row2 .info .heir{
    float: right;
    margin-right: 200px;
}
.row2 button{
    padding:15px 40px;
    background-color: rgb(241, 18, 62);
    color: white;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 15px;
    border: none;
    margin-left: 50px;
    cursor: pointer;
}
.row2 button:hover{
    transition: 0.5s;
    background-color: rgb(231, 16, 16);
}
span{
    font-size: 15px;
    color: cadetblue;
    padding: 15px;
}

.overlay{
    width: 350px;
    height: 90%;
    border: 10px solid rgb(58, 52, 52);
    position: absolute;
    left: 150px;
    top: 0;
    z-index: -1;
}

/*section 3*/

.service{
    background-color:470ddddc2;
    margin: 20px;
}
.service h1{
text-align: center;
padding: 50px;
}
.service .parent{
    overflow: hidden;
}
.service .parent .box{
    text-align: center;
    width: 25%;
    float: left;
    padding: 30px;
}
.service .parent .box i{
    font-size: 40px;
    color: rgb(237 20 63);
    padding: 20px;
}
.service .parent .box h2{
    padding: 10px;
}
.service .parent .box p{
    line-height: 1.8;
    color: #594830;
}


/*section 4*/

.protfolio{
    background-color: #ffffffc2;
    margin: 20px;
    margin-top: 70px;

}
.protfolio h1{
    text-align: center;
    padding: 50px;
}
.protfolio ul{
    padding: 30px;
    text-align: center;
    font-weight:900;
}
.protfolio ul li{
display: inline;
padding: 20px;
font-size: 20px;
cursor: pointer;
}
.protfolio ul li:first-child{
    color: red;
}
.gallery{
    overflow: hidden;
    margin: 20px;

}
.gallery .img{
    width: 33.3%;
    padding: 10px;
    float: left;
    position: relative;
}
.gallery .img img{
    width: 100%;
    overflow: hidden;
}

.gallery .img .ov{
    bottom: 0;
    background-color: #ae191942;
    height: 0;
    left: 0;
    width: 100%;
    position: absolute;
    transition: 0.5s;
    visibility: hidden;
    
}
.gallery .img:hover .ov{
    height: 100%;
    transition: 0.5s;
    visibility: visible;

}

/*section 5*/

.icons{
    background-color: #dbbfbf45;
    margin: 40px;
    margin-top: 100px;
    padding: 20px;
}
.icons .all{
    margin: 30px;

}
.icons .all .box{
    width: 24%;
    display: inline-block;
    text-align: center;

}
.icons .all .box i{
    font-size: 36px;
    color: #1e8ed2fc;
    padding: 20px;
    font-weight: 900;
}
.icons .all .box h2{
    padding: 10px;
    color: cadetblue;

}
.icons .all .box h2{
    padding: 20px;
}

/*section 6*/

.feecback{
    margin: 40px;
    margin-top: 100px;

}

.feecback h1{
    margin-bottom: 50px;
    text-align: center;
}

.feecback .con{
    background-color: #dfdfdf;
    overflow: hidden;
    position: relative;
    z-index: -2;
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}

.feecback .con .img{
    float: left;
    padding: 18px;
}

.feecback .con .img img{
    border-radius: 50%;

}

.feecback .con h2{
    padding: 10px;
}

.feecback .con .text i{   
    font-size: 20px;
}

.feecback .con .text span{
    padding: 5px;
    font-size: 22px;
}   

.feecback .con .text p{
    line-height: 1.8;
    padding: 20px;
    font-size: 17px;
}

/*section 7*/

.Blog{
    margin: 40px;
    overflow: hidden;
}
.Blog h1{
    margin-bottom: 50px;
    margin-top: 30px;
    text-align: center;
}

.Blog .our {
    margin-top: 80px;
    margin-bottom: 50px;
    overflow: hidden;
    margin: 40px;
}

.Blog .our .box{
    float: left;
    width: 32%;
    margin-left: 15px;
    box-shadow: 3px 4px 8px darkgrey;
    background-color: #f3ecec;
}
.Blog .our .box img{
    max-width: 100%;
 }
 .Blog .our .box video{
     max-width: 100%;
     height: 212px;
 }
.Blog .our .box p{
    margin: 10px;
    line-height: 1.5;
}
.Blog .our .box h2{
    padding: 3px;
    font-size: 20px;
    color: cadetblue;
}

.Blog .our .box span{
    padding: 10px;

}

/*section 8*/
.contact{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact .form{
    text-align: center;
}
.contact h1{
    text-align: center;
}

.contact .form form{
    padding: 20px;
}

.contact .form .inp {
    margin-top: 20px;
    margin-bottom: 15px;
}

.contact .form .inp input[type="email"] {
    width: 30%;
    padding: 10px;
    border: 2px solid #bba0a0;
    outline: none;
    border-radius: 10px;

}
.contact .form .inp input[type="text"] {
    width: 30%;
    padding: 10px;
    border: 2px solid #bba0a0;
    outline: none;
    border-radius: 10px;
}

.contact .form .sub{
    margin: 0 auto;


}

.contact .form .sub input{
    padding: 10px;
    border: 2px solid #bba0a0;
    outline: none;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 60%;

}

textarea{
    padding: 10px;
    width: 60%;
    border: 2px solid #bba0a0;
    outline: none;
    border-radius: 10px;
    resize: none;
    height: 100px;
    margin:0 auto;

}

.contact .form input[type="submit"] {
    display: block;
    margin: 10px 260px;
    padding: 7px;
    background-color: crimson;
    color: wheat;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

/*section 9*/
.footer{
background-color: rgb(43, 41, 41);
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
padding: 50px;
color: white;
}
.footer .icon{

    padding: 20px;
    
}
.footer .icon i{
    padding: 10px;
}
.footer .icon i:hover{
    color: red;
    cursor: pointer;

}
.footer .coby{
    margin-top: 10px;
}

.footer .coby span{
    color: red;
    padding: 5px;
    font-size: 20px;
}
.footer .coby span:hover{
    text-decoration: underline;
}