body{
    background-color: rgb(82, 51, 196);
}
.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: white;

}
form{
    background-color: blueviolet;
    padding: 40px;
    border-radius: 30px;
    margin: 30px 5px;
}

.calc{
    display: flex;
    gap: 10px;
}
@media (max-width:500px) {
    .calc{
        display: flex;
        flex-direction: column;
    }
    
}

label{
    display: block;
    margin: 5px;
}


h2{
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
    letter-spacing: 3px;
    color: darkorange;
    font-style: italic;
}
@media screen {
    
}
.block label{
    text-align: center;
    color: #e17c7c;
    font-size: large;
    font-size: 23px;

}

.block input{
    padding: 6px;
    margin: 5px;
    outline: none;
    border-radius: 50px;
    text-align: center;
    border: 1px solid ;
    cursor: pointer;
    color: rgb(24, 68, 24);
    font-size: 15px;
    background-color: rgb(209, 28, 209);
    }

    .btn{
        text-align: center;
        padding: 20px;

    }
    
    input[type="button"]{
        padding: 10px;
        border: none;
        outline: 0;
        border-radius: 15px;
        font-size: 18px;
        letter-spacing: 1.5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        cursor: pointer;
        transition: 0.5s;
        width:150px;
    }
    input[type="button"]:hover{
        background-color: aqua;
        transition: 0.5s;
        
    }
    .res{
        text-align: center;
        font-weight: bold;
        color: rgb(61, 14, 99);
        padding: 10px;
        font-size: 18px;
    }
